/*
essential styles:
these make the slideshow work
*/

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel {
  max-width: 650px;
  max-height: 500px;
  background-color: #fafafa;
}

.slides {
  position: relative;
  width: 650px;
  height: 355px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}

.active {
  opacity: 1;
  z-index: 2;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: rgb(211, 204, 204);
  color: #fff;
}

.slide_image {
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1em;
  position: relative;
  margin-top: 0.5em;
}

.controls .control {
  cursor: pointer;
}

.control-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -180px;
  right: -65px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.control-previous {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -180px;
  left: -65px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.control-next:hover,
.control-previous:hover {
  background-color: silver;
}

.indicators {
  display: flex;
  justify-content: center;
  gap: 0.3em;
  margin-top: 0.9em;
}

.indicators .indicator {
  width: 10px;
  height: 10px;
  background-color: silver;
  border-radius: 100%;
}

.indicator.active {
  background-color: rgb(18, 17, 17);
}
